<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action ="/results">
    <input type="text" id="q" placeholder="enter your search..." name = "q"/>
    <input type="submit"/>
</form>